@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
* {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
html[data-theme='dark'] {
  --text-app-colorr: #fffff1;
  --background-app-color: #242424;
}

html[data-theme='light'] {
  --text-app-color: #000001;
  --background-app-color: #e1e1e1;
}

:root {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-app-color);
  background-color: var(--background-app-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-weight: 300;
  font-size: 16px;
}

